body,ul,li{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix{
	zoom:1;
}

.header{
	width: 980px;
	height: 62px;
	margin: 0 auto;
	position: relative;
}

.header .header1{
	height: 43px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.header .header2{
	position: absolute;
	right: 0;
	bottom: 0;
}

input[type=text]{
	background: url(search2.jpg) no-repeat right center;
}

.nav{
	height: 55px;
	background: url(nav_bg.png);
}

.nav ul{
	margin: 0 auto;
	width: 980px;
	height: 55px;
}

.nav ul li{
	float: left;
	padding: 0 30px;
}

.nav ul li a{
	color: #000;
	font: 16px/55px 微软雅黑;
	text-decoration: none;
}

.nav ul li a:hover{
	color: blue;
}

.banner{
	width: 980px;
	height: 597px;
	margin: 0 auto;
}

.gg{
	height: 29px;
	background: url(nav_bg.png);
}

.gg .gg-m{
	width: 980px;
	height: 29px;
	margin: 0 auto;
	position: relative;
}

.gg span{
	display: inline-block;
	font: 12px/29px 微软雅黑;

}

.gg .ico{
	position: absolute;
	right: 0;
	bottom: 50%;
	margin-bottom: -8px;
}

.news{
	width: 1000px;
	margin: 15px auto;
}

.news .left{
	float: left;
	width: 310px;
	height: 224px;
/*	background: #eee;*/
	position: relative;
	border: 1px solid #eee;
}

.news .left>img{
	margin-top: 37.5px;
	margin-left: 52.5px;
}

.o{
	position: absolute;
	height: 14px;
	top: 13px;
	left: 6px;
}
.o span{
	font: 12px/14px 微软雅黑;
	color: green;
}

.o img{
	vertical-align: middle;
}

.news .left .l{
	position: absolute;
	left: 20px;
	bottom: 50%;
}

.news .left .r{
	position: absolute;
	right: 20px;
	bottom: 50%;
}

.news .mid{
	float: left;
	width: 373px;
	height: 224px;
	border: 1px solid #eee;
	margin-left: 12px;
	position: relative;
}

.news .mid ul{
	margin: 37px 18px 0 23px;
}

.news .mid ul li{
	height: 27px;
	border-bottom: 1px dashed #DCDCDC;
}

.news .mid ul li a{
	font: 12px/27px 微软雅黑;
	color: #000;
	text-decoration: none;
}

.news .mid ul li a.fc{
	color: red;
}

.news .right{
	float: left;
	width: 268px;
	height: 224px;
	margin-left: 12px;
	border: 1px solid #E4E4E4;
	position: relative;
}

.news .right ul{
	margin-top: 42px;
	margin-left: 28px;
}

.news .right ul li{
	margin-top: 10px; 
	height: 12px;
	padding-left: 5px;
	border-left: 3px solid #7AB800;
	font: 12px/12px 微软雅黑;
}

.news .right ul li a{
	color: #000;
	text-decoration: none;
}

.news .right span{
	font: 12px/16px 微软雅黑；
	margin-top: 30px;
	margin-left: 28px;
}

.footer{
	height: 221px;
	background: #2D2D2D;
	border-bottom: 1px dashed #eee;
}

.footer .footer-mid{
	width: 980px;
	margin: 0 auto;
}

.footer .emm{
	padding-top: 20px;
}

.footer .emm li{
	float: left;
	font: 14px 微软雅黑;
	padding-right: 40px;
	color: #eee;
}

.footer .emmm{
	padding-top: 50px;
}

.footer .emmm li{
	float: left;
	padding-right: 40px;
	font: 14px 微软雅黑;
	color: #aaa;
}

.bottom{
	height: 54px;
	padding-top: 30px;
	background: #2D2D2D;
	text-align: center;
}

.bottom span{
	font: 12px 宋体;
}